[package]
name = "sidex-attrs-rust"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
sidex-gen = { path = "../sidex-gen" }
proc-macro2 = "1"
quote = "1"
syn = "1"

