[package]
name = "sidex-attrs-json"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
sidex-gen = { path = "../sidex-gen" }
