[package]
name = "sidex-gen"
description = "Code generation framework for Sidex definitions."
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
sidex-core = { path = "../sidex-core", version = "^0.1" }