[package]
name = "sidex-attrs"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
sidex-ir = { path = "../sidex-ir" }
