[package]
name = "sidex-gen-ts"
description = "Sidex code generation for TypeScript."
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
